body {
	font-family: "Montserrat", sans-serif !important;
}

.logo {
	height: 190px;
	width: 250px;
}

.bg-light {
	background-color: #fff !important;
}

.btn-danger {
	background: rgb(136, 4, 120) !important;
	border-color: rgb(136, 4, 120) !important;
	height: 50px;
	width: 150px;
	font-size: 15px;
	font-weight: bolder;
}

.covid-header {
	color: crimson !important;
}

.footer-social-info a {
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	font-size: 35px;
	color: rgb(136, 4, 120);
	border-radius: 10%;
}

.footer-social-info a:visited,
.footer-social-info a:focus,
.footer-social-info a:link,
.footer-social-info a:hover {
	color: rgb(136, 4, 120);
}

.brand-color {
	color: rgb(136, 4, 120) !important;
}

@media screen and (max-width: 786px) {
	.payment-button {
		padding-top: 1.5rem;
	}

	.item1 {
		display: none;
	}

	.banner-big {
		height: 700px !important;
	}

	#carouselExampleControls {
		display: none;
	}

	.info {
		font-weight: 300 !important;
		font-size: 25px !important;
		color: #fff !important;
		display: block !important;
		line-height: 1 !important;
		padding: 1rem !important;
		width: 100% !important;
	}

	.carousel-inner {
		background-color: #000 !important;
		height: 600px !important;
	}

	.thumbnail {
		width: 200px !important;
		height: 200px !important;
	}
}

.payment-button span a:before {
	background: rgb(136, 4, 120) !important;
	box-shadow: none !important;
}

.payment-button span a div {
	background: #fff !important;
	color: rgb(136, 4, 120) !important;
}

.payment-button span a {
	-webkit-appearance: none !important;
	border: 1px solid rgb(136, 4, 120) !important;
}

.row {
	margin: 1.25rem;
}

.row .col {
	padding: 1.25rem;
	margin: 1.25rem;
	cursor: pointer;
}

.row-header {
	text-align: center;
}

.fs-1 {
	font-weight: 600;
	font-size: 60px !important;
	line-height: 1;
}

.volunteer {
	font-weight: 600;
	font-size: 50px !important;
	line-height: 1.5;
}

.tile-0 {
	font-weight: 300;
	font-size: 20px;
	line-height: 1.25;
}

.tile-1 {
	font-weight: 300;
	font-size: 25px;
	line-height: 1.25;
}

.tile-2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 1.25;
}

.tile-3 {
	font-weight: 300;
	font-size: 25px;
	line-height: 1.25;
}

.tile-4 {
	font-weight: 300;
	font-size: 40px;
	line-height: 1.25;
}

.tile-5 {
	font-weight: 300 !important;
	font-size: 15px !important;
	line-height: 1.25 !important;
}

.col {
	color: rgb(66, 63, 63);
	font-size: 18px;
	line-height: 32px;
}

.col img {
	border-radius: 2rem;
}

.carousel-item .row {
	background-color: #000;
}

.thumbnail {
	background-size: contain;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: #000;
	border: 0.5rem solid #fff;
	object-fit: contain !important;
}

.info {
	font-weight: 300;
	font-size: 20px;
	line-height: 2;
	color: #fff;
	display: inline;
	width: 60%;
	padding: 6rem;
}

.item1 {
	grid-area: main;
}

.item2 {
	grid-area: right;
	margin-right: 2rem;
}

.item3 {
	grid-area: footer;
}

.mt-10 {
	margin-top: 10rem;
}

.mt-5 {
	margin-top: 5rem;
}

.navbar-light {
	background-color: #f8f8f8;
}

.gi-1 {
	background-color: #e09122 !important;
	color: #fff;
	border-radius: 2rem;
}

.gi-2 {
	background-color: rgb(0, 128, 0) !important;
	color: #fff;
	border-radius: 2rem;
}

.gi-3 {
	background-color: #2961f0 !important;
	color: #fff;
	border-radius: 2rem;
}

.btn-dark,
.btn-dark:hover {
	border-color: rgb(136, 4, 120);
	background-color: rgb(136, 4, 120);
	color: #fff;
}

a {
	color: #fff;
}

a:hover {
	color: #f8f8f8;
}

.quotation {
	font-size: 30px;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 20px;
	line-height: 1.4;
}

.quotation:before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -10px;
	position: relative;
	top: 30px;
	color: rgb(136, 4, 120);
	font-size: 3em;
}

.quotation::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 10px;
	position: relative;
	top: 35px;
	color: rgb(136, 4, 120);
	font-size: 3em;
}

.carousel-item .row {
	margin: 0;
	padding: 0;
	width: 100%;
}

.carousel-inner {
	height: 500px;
}

.carousel-item img {
	object-fit: cover;
	height: 500px;
}

.impact {
	width: 80%;
	margin: auto;
}

.impact img {
	object-fit: cover;
}

.a-blue {
	color: blue !important;
}

#footer {
	background-color: #f8f8f8 !important;
}

#footer a {
	color: rgb(66, 63, 63);
}

b {
	font-weight: 600;
}

#collapseTwo .row {
	border-bottom: 1px #ccc solid;
}
