html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: "Montserrat", sans-serif !important;
}

.logo {
	height: 190px;
	width: 250px;
}

.covid-header {
	color: crimson !important;
}

.bg-light {
	background-color: #fff !important;
}

.bg-dark {
	background-color: rgb(136, 4, 120) !important;
	color: #fff !important;
}

.footer-social-info {
	margin-top: -1.25rem;
}

.footer-social-info a {
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	font-size: 25px;
	color: rgb(136, 4, 120) !important;
	border-radius: 10%;
}

.footer-social-info a:visited,
.footer-social-info a:focus,
.footer-social-info a:link,
.footer-social-info a:hover {
	color: rgb(136, 4, 120);
}

.brand-color {
	color: rgb(136, 4, 120) !important;
}

@media screen and (max-width: 786px) {
	.payment-button {
		padding-top: 1.5rem;
	}

	.justify-content-center {
		margin-left: 0rem !important;
	}

	.tile-2 {
		font-size: 14px !important;
	}

	.banner {
		padding: 1rem;
	}

	.yuvaan_banner,
	.vision span img {
		display: none !important;
	}

	.col {
		flex: 1 !important;
		padding: 0.1rem !important;
	}

	.carousel-inner {
		height: 250px !important;
		border-radius: 2rem !important;
	}

	.about {
		width: 100% !important;
		margin-left: 0rem !important;
	}

	.about-us {
		display: none;
	}

	#carouselExampleControls1 {
		margin: 1.25rem;
	}

	#carouselExampleControls .carousel-item::after,
	#carouselExampleControls1 .carousel-item::after {
		content: "";
		background: none !important;
	}

	#carouselExampleControls1 img {
		object-fit: cover !important;
	}

	.accordion-body .row {
		padding-left: 0.1rem;
		padding-right: 0.1rem;
		margin-left: 0.1rem;
		margin-right: 0.1rem;
		margin-bottom: 0.1rem;
	}

	.team-member {
		margin-top: 0.1rem !important;
		margin-right: 0.1rem !important;
	}

	.mobile {
		margin-top: 1.5rem;
	}

	.acc-donate .PaymentButton-contents {
		margin-right: -1.5rem !important;
		padding-left: 2rem !important;
	}

	.accordion-body .tile-1 {
		font-size: 20px !important;
	}

	.thumbnail {
		border-radius: 20%;
		width: 80px !important;
		height: 80px !important;
		background-color: #000;
		object-fit: contain !important;
		margin-right: 0.5rem !important;
		margin-bottom: 0.05rem;
	}

	.main-team {
		width: 80%;
	}
}

svg {
	display: none;
}

.PaymentButton::before {
	display: none !important;
}

.PaymentButton-contents {
	background: rgb(136, 4, 120) !important;
	color: #fff !important;
	border-radius: 0.25rem;
}

.PaymentButton-text {
	font-size: 20px !important;
	margin-left: -2rem !important;
	font-style: normal !important;
	font-family: "Montserrat", sans-serif !important;
}

.PaymentButton-securedBy {
	font-size: 10px !important;
	opacity: 1 !important;
	margin-left: -2rem !important;
	font-style: normal !important;
	font-family: "Montserrat", sans-serif !important;
}

.about {
	font-size: 20px;
	color: #10384f;
}

.row,
.col {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
	margin-bottom: 1.25rem;
	cursor: pointer;
}

.yuvaan_banner {
	margin-left: -15rem;
}

.banner {
	background-color: rgb(248, 249, 250);
	border-radius: 2rem;
	margin-left: 2.25rem;
	margin-right: 2.25rem;
}

.vision .col {
	flex: 0.5;
	padding: 5rem;
}

.vision span {
	width: 0rem;
}

.vision span img {
	height: 40rem;
	width: 55rem;
}

.tile-1 {
	font-weight: 600;
	font-size: 35px;
	line-height: 1.25;
	color: #10384f !important;
}

.tile-2 {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.25;
	color: #10384f !important;
}

.tile-3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.25;
	color: #f8f8f8 !important;
}

.tile-4 {
	font-weight: 600;
	font-size: 15px;
	line-height: 1.25;
	color: #10384f !important;
}

.tile-5 {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.25;
	color: #fff !important;
}

.col {
	color: rgb(66, 63, 63);
	font-size: 18px;
	line-height: 32px;
}

.col img {
	border-radius: 2rem;
}

.carousel-item .row {
	background-color: #000;
}

.thumbnail {
	border-radius: 20%;
	width: 100px;
	height: 100px;
	background-color: #000;
	object-fit: contain !important;
	margin-right: 1.5rem;
	margin-bottom: 0.05rem;
}

.team-details {
	display: contents;
	margin-left: 1rem !important;
}

.gi-1 {
	background-color: rgb(248, 249, 250);
	color: #10384f !important;
	border-radius: 2rem;
}

.pay-now {
	margin: auto;
	width: 15rem;
}

.quotation {
	font-size: 20px;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 10px;
}

.quotation:before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -10px;
	position: relative;
	top: 30px;
	color: rgb(136, 4, 120);
	font-size: 3em;
}

.quotation::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 10px;
	position: relative;
	top: 35px;
	color: rgb(136, 4, 120);
	font-size: 3em;
}

.carousel-item .row {
	margin: 0;
	padding: 0;
	width: 100%;
}

.carousel-inner {
	height: 600px;
	border-radius: 2rem;
}

.carousel-item img {
	object-fit: cover;
	height: 100%;
}

#carouselExampleControls1 img {
	object-fit: cover;
}

.partners img {
	height: 200px;
	width: 200px;
	object-fit: contain !important;
	border-radius: 0 !important;
}

.impact {
	width: 80%;
	margin: auto;
}

.impact img {
	object-fit: cover;
}

.a-blue {
	color: blue !important;
}

#footer a {
	color: #fff !important;
}

b {
	font-weight: 600;
}

.justify-content-center {
	margin-left: 8rem;
}

.team-member {
	margin-top: 5rem;
	margin-right: 20rem;
}

.container .row {
	margin-bottom: 0;
}

.btn-donate {
	display: inline;
}
