body {
	font-family: "Poppins", sans-serif !important;
}

.logo {
	height: 100px;
	width: 150px;
}

.header-img {
	object-fit: cover;
	height: 450px;
}

.header-color {
	color: rgb(136, 4, 120);
}

.img-fluid {
	width: 100%;
}

.rounded-2 {
	border-radius: 0.75rem !important;
}

.cl-white {
	color: #ffffff;
}

.no-underline {
	text-decoration: none;
}

.no-hover:hover {
	color: blue;
}

a:hover {
	color: #ffffff;
}

.project,
.about,
.home {
	background-color: rgb(241, 241, 241);
}

.team img {
	object-fit: contain;
}

.pr {
	background-color: #ffffff;
	padding: 1.25rem;
}

.project-image {
	height: 200px;
	object-fit: cover;
}

.col-sm:hover {
	cursor: pointer;
}

.team img {
	object-fit: cover;
	width: 300px;
	height: 337px;
}

.team .row {
	border-bottom: 1px solid rgb(136, 4, 120);
}

@media screen and (min-width: 800px) {
	.info {
		margin-left: -75%;
		max-width: 40%;
	}
}

.btn {
	font-weight: bolder !important;
}

.btn span a {
	background: #dc3548 !important;
	border-color: #000 !important;
	color: #fff !important;
}

.footer-social-info {
	display: inline-block;
	color: #ffffff;
}

.footer-social-info a {
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	font-size: 35px;
	color: #ffffff;
	margin-right: 10px;
	border-radius: 10%;
}
